.help-window{
    position: absolute;
    max-width: 30vw;
    max-height: 80vh;
    border: 1px solid black;
    top: 10vh;
    right: 0;
    min-width: 20vw;
    margin-right: 20px;
}
.admin-panel{
    max-width: 60vw;
    margin-left: 20px;
}
.popup-stats{
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid black;
    

}